In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sales_train.csv')

In [3]:
df.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [4]:
df['item_cnt_day'].value_counts(ascending=False)

1.0      2629372
2.0       194201
3.0        47350
4.0        19685
5.0        10474
          ...
179.0          1
187.0          1
194.0          1
195.0          1
508.0          1
Name: item_cnt_day, Length: 198, dtype: int64